//中国地图
.mapChina {
    .title{
		font-size: 24px;
		text-align: center;
	}
	.subtitle{
		color:#041330;
	}
	.subtitleInfo{
		display: inline-block;
		width: 50%;
		text-align: center;
	}
	.detail{
		color:#FFEC8B;
		font-size: 18px;
	}
}

