@import '~antd/lib/style/themes/default.less';

.content {
  padding: 24px;
  padding-top: 24px !important;
  background-image: linear-gradient(160deg, #00ffd5 20%,#008cff 80%);
  min-height: 100vh;
  // background: url("../../public/bg.png") ;
}
